<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid mt-5">
        {%if messages%}
        {%for message in messages%}
        {%if message.levels == DEFAULT_MEESAGE_LEVELS.success%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endif%}
        {%endfor%}
        {%endif%}
        <div class="row">
            <div class="col-4">
                <h1>Welcome Admin</h1>
                <div class="border border-info mt-3">NewOrders {{count}}</div>
                <a style="color: black;" class="btn btn-primary btn-outline-success mt-3"
                    href="{%url 'new-orders'%}">view</a>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>

</html>