{%extends 'customer/base.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{product.image.url}}" alt="..." height="250px" width="150px" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{product.product_name}}</h5>
                        <!-- Product price-->
                        <p>${{product.price}}</p>
                        <p>{{product.category}}</p>
                        <p style="text-align: justify;">{{product.description}}</p>
                    </div>
                </div>
                <!--Product Action-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'add-to-cart' product.id%}">Add to cart</a></div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{%endblock%}